body {

  width: 800px;
  
  margin: 25px auto;
  
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  
  }
  
  rect {
  
  fill: royalblue;
  
  cursor: pointer;
  
  }
  
  rect:hover {
  
  fill: lightblue;
  transition: .5s;
  
  }
  