body {

	margin:0;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	text-align: center;
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

rect:hover {
  
  	fill: lightcoral;
  	transition: .5s;
	cursor: pointer;
}

.filter{
	display: flex;
	align-items: center;
    text-align: left;
    margin-bottom: 2em;
}

.filter p{
	font-weight: 800;
}

h1{
	color: orangered;
}

.axis{
	font-size: 14px;
}